<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IOT ROOM BOMB STATE</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/states.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(160, 25, 55, 1);">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color:white">CGI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">

    <table class="borderless ">
        <tbody>
            <tr class="badge-state">
                <td>
                    <span class="badge badge-30" onclick="debug(30)">
                        10
                    </span>
                </td>
                <td> 
                    <span class="badge badge-31" onclick="debug(31)">
                        11
                    </span>
                </td>
                <td>
                    <span class="badge badge-36" onclick="debug(36)">
                        7
                    </span>
                </td>
                <td>
                    <span class="badge badge-37" onclick="debug(37)">
                        8
                    </span>
                </td>
                <td>
                    <span class="badge badge-42" onclick="debug(42)">
                        5
                    </span>
                </td>
                <td>
                    <span class="badge badge-43" onclick="debug(43)">
                        4
                    </span>
                </td>
                <td>
                    <span class="badge badge-48" onclick="debug(48)">
                        3
                    </span>
                </td>
                <td>
                    <span class="badge badge-49" onclick="debug(49)">
                        2
                    </span>
                </td>
            </tr>
            <tr class="badge-state-cross">
                <td id="badge-30">X</td>
                <td id="badge-31">X</td>
                <td id="badge-36">X</td>
                <td id="badge-37">X</td>
                <td id="badge-42">X</td>
                <td id="badge-43">X</td>
                <td id="badge-48">X</td>
                <td id="badge-49">X</td>
            </tr>
        </tbody>
    </table>

    <div class="malette well">
        <span class="malette-txt">Malette Pin</span><span  id="badge-24">X</span>
    </div> 
        
        <button  type="button" class="btn btn-success btn-lg btn-block restartButton" onclick="stopAnimation()">
            Reboot screens animations
        </button>

          <button type="button" class="btn btn-primary btn-lg btn-block restartButton" onclick="welcomeAnimation()">
            Welcome animation
         </button>

           <button type="button" class="btn btn-warning btn-lg btn-block restartButton" onclick="startAnimation()">
            Security animation
         </button>
       
        <h2>Pin states</h2>       
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>PinID</th>
                    <th>STATE</th>                 
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>12</td>
                    <td id="state30">no data</td>                    
                </tr>
                <tr>
                    <td>13</td>
                    <td id="state31">no data</td>          
                </tr>                
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>PinID</th>
                    <th>STATE</th>                 
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td id="state36">no data</td>                    
                </tr>
                <tr>
                    <td>11</td>
                    <td id="state37">no data</td>          
                </tr>                
                </tbody>
            </table>
        </div>
         <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>PinID</th>
                    <th>STATE</th>                 
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>8</td>
                    <td id="state42">no data</td>                    
                </tr>
                <tr>
                    <td>7</td>
                    <td id="state43">no data</td>          
                </tr>                
                </tbody>
            </table>
        </div>
         <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>PinID</th>
                    <th>STATE</th>                 
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5</td>
                    <td id="state48">no data</td>                    
                </tr>
                <tr>
                    <td>4</td>
                    <td id="state49">no data</td>          
                </tr>                
                </tbody>
            </table>
        </div>
             

        </body>
        </html>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!--socket io -->
    <script src='js/socket.io.js'></script>
    <!--page script -->
    <script src="js/states.js"></script>

</body>




</html>




            
                
                                    
                
                
                
                
            