.badge-30{  
    
    border: solid 1px black;
    margin: 0.5%;     
    background-color: #3366ff;
}
.badge-31{
    border: solid 1px black;
    margin: 0.5%;
    background-color:#009933;
}
.badge-36{

    border: solid 1px black;
    margin: 0.5%;
    background-color:Black;
}
.badge-37{

    border: solid 1px black;
    margin: 0.5%;
    background-color:#996633;
}
.badge-42{

    border: solid 1px black;
    margin: 0.5%;
    background-color:#ff9933;
}
.badge-43{

    border: solid 1px black;
    margin: 0.5%;
    background-color:#cc99ff; 
}
.badge-48{

    border: solid 1px black;
    margin: 0.5%;
    background-color:Yellow;
    color:black;
}
.badge-49{

    border: solid 1px black;
    margin: 0.5%;
    background-color:white;
    color:black;
}


.badge-state{
    color: white;
    font-size: 2vh !important;
    text-align : center;
    font-weight: bold;
    margin: 1%; 
}

.badge-state-cross{
    font-size: 2vh !important;
    text-align : center;
    font-weight: bold;
}

.borderless{
    width: 100%;
}
.borderless tbody tr td{
    border: none;
}

.restartButton {
    margin-top: 5% !important;
}